<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p>Welcome to the <%= title %></p>
    </header>

    <a href='/new' class='button-link'>Create New Message</a>
    
    <section>
      <% messages.forEach(message => { %>
        <div class='message-div'>
         <h2><%= message.username %></h2>
         <p><%= message.message %></p>
         <p><%= message.timestamp %></p>
        </div>
       <% }) %>
    </section>
  </body>
</html>
